/* Styles go here */
h1{
  font-size: 20px;
  font-weight: 600;
}
div{
  margin-top: 20px;
}
button{
  background: #FAD639;
  color: #29272D;
  border: none;
  padding: 5px 10px;
  box-shadow: 2px 2px 5px;
}
input{
  height: 18px;
}

