body{
	font-family: 'Lato', sans-serif;
}
h1{
  font-size: 50px;
  font-weight: 200;
  text-transform: lowercase;
  text-align: center;
}
div{
  margin-top: 20px;
}
button{
  background: #FAD639;
  color: #29272D;
  border: none;
  padding: 5px 10px;
  box-shadow: 2px 2px 5px;
}
input{
  height: 25px;
  padding: 6px;
}
.wrapper{
	width: 600px;
	margin: 0 auto;
}
.todolistBody{
	border: 1px solid rgba(0,0,0,0.4);
}

